[Desktop Entry]
Type=Application
Name=MadModem
Comment=Amateur radio digital modem for WEFAX, SSTV, RTTY, BPSK, CW, Feld Hell, FT4 and FT8
Exec=MadModem
Icon=madmodem
Terminal=false
Categories=HamRadio;Audio;Network;Utility;

X-MadModem-Author=Papadopol Lucian-Ioan
X-MadModem-Website=https://www.madexp.it
